
<div id="DataInDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel">Resolution Info</h5>
			</div>
			<div id="bodyOfDataDetail" class="modal-body">
				<div class="row">
					<div class="col-12">
						<p id="Url" class="bodyOfDataDetailParagraph"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div>
							<p id="RemoteIp"></p>
						</div>
					</div>
				</div><hr />
				<div class="row">
					<div class="col-6">
						<div>
							<p id="MimeType"></p>
						</div>
					</div>
					<div class="col-6">
						<div>
							<p id="StatusCode"></p>
						</div>
					</div>

				</div><hr />
				<div class="row">
					<div class="col-6">
						<div>
							<p id="DNS"></p>
						</div>
					</div>
					<div class="col-6">
						<div>
							<p id="Connect"></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div>
							<p id="Send"></p>
						</div>
					</div>
					<div class="col-6">
						<div>
							<p id="TTFB"></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div>
							<p id="Download"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><br />

